<% if object.errors.any? %>
  <div class="alert alert-danger">
    <%= t "book.contain" %>
    <%= pluralize object.errors.count, t("book.form_error") %>.
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      	<li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
