<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-userpic center">
          <%= image_tag @user.avatar.url :thumb %>
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.name %>
          </div>
          <div class="profile-usertitle-email">
            <%= @user.email %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
      </div>
    </div>
  </div>
</div>
