<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header navbar-nav">
      <%= link_to t("application.logo"), root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">   
      <li><%= link_to t("application.login"), "#" %></li>
    </ul>
  </div>
</nav>
